# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets and compressed files
**/data/
*.tar.gz
*.tgz
*.zip
*.gz
*.arrow

# Virtual Environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints